/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  color: #f5f5f5; 
  height: 100%;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Video Section */
.video-section {
  margin-top: -100px;
  position: relative;
  width: 100%;
  height: 50vw; 
  overflow: hidden;
}

.homepage-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
} */

.video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.homepage-title {
  font-size: 2.8rem;
  font-weight: bold;
  font-family: 'Boldonse', sans-serif;
  text-transform: none;
  color: white; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: -15px;
  margin-top: 80px;
}

.homepage-title span{
  color:#d1a432;
}

.welcome {
  font-size: 1.2rem;
  color: #fff;
  z-index: 100;
}

/* Intro Section */
.homepage-web-intro {
  color: rgb(122, 121, 121);
  margin: 40px auto;
  margin-top: 0;
  text-align: center;
  padding: 50px 30px;
  backdrop-filter: blur(5px);
}

.homepage-web-intro p {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 30px;
}

/* Content Section */
.content {
  width: 100%;
  padding: 40px 10px;
}

/* Featured Section */
.featured-section {
  width: 100%;
  margin-top: 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.featured-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.text-content {
  z-index: 10;
  max-width: 600px;
  margin: 0 auto;
}

.text-content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.text-content p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

/* Recipe Section */
.div2.recipe-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 30px;
  background-color: #f9f9f9;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 40px;
  padding-right: 180px;
}

.recipe-intro-text {
  flex: 1;
  padding: 20px;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}

.recipe-intro-text .section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #2A9D8F;
  margin-bottom: 15px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recipe-intro-text p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  text-align: center;
}

.add-recipe-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 35px;
  width: 100%;
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
}

#add-recipe-button {
  background: linear-gradient(135deg, #2A9D8F, #555);
  color: white;
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

#add-recipe-button:hover {
  background: linear-gradient(135deg, #555, #2A9D8F);
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.recipe-cards-carousel {
  flex: 1;
  max-width: 50%;
}

.recipe-cards-carousel img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1024px) {
  .div2.recipe-section {
    padding-right: 40px; /* Less padding for tablets */
  }

  .recipe-intro-text {
    max-width: 45%;
  }

  .recipe-cards-carousel {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .div2.recipe-section {
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
  }

  .recipe-intro-text {
    max-width: 80%; 
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px; 
  }

  .recipe-cards-carousel {
    max-width: 90%; 
    margin-top: 20px;
  }

  .add-recipe-section {
    flex-direction: column;
    margin-top: 20px;
    position: static;
    transform: none;
    margin-left: 0;
  }

  #add-recipe-button {
    width: 200px; 
    margin-bottom: 10px;
  }

  .recipe-cards-carousel img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .recipe-intro-text .section-title {
    font-size: 1.6rem;
  }

  .recipe-intro-text p {
    font-size: 1rem; 
  }

  #add-recipe-button {
    width: 180px;
  }

  .recipe-cards-carousel {
    max-width: 100%;
    margin-top: 20px;
  }
}

.div3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}

.calendar-section-title {
  font-size: 2rem;
  font-family: 'Boldonse';
  color: #2c3e50;
  margin-bottom: 15px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  animation: titleAnimation 1.5s ease-out;
  text-align: center;
  z-index: 2;
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fun-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  z-index: 2;
}

.text-intro-cube-culture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  text-align: center;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  z-index: 2;
  margin-top: -160px;
  margin-left: 20px;
}

.text-intro-cube-culture:hover {
  transform: translateY(-10px);
}

 p {
  font-size: 1.1rem;
  color: #7f7d7d;
  line-height: 1.7;
  font-weight: 500;
  margin-top: 15px;
  letter-spacing: 1px;
  z-index: 100;
}



.world-calendar {
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  transition: transform 0.3s ease;
  z-index: 2;
}

.world-calendar:hover {
  transform: translateY(-10px);
}

.customs-cube {
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: transform 0.3s ease;
  z-index: 2;
}

.customs-cube:hover {
  transform: translateY(-10px);
}

.flags-img {
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-width: 420px;
  opacity: 0.7;
  z-index: 2;
  transform: translateY(30px) translateX(30px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.intro-div3{
padding: 30px;
}
@media (max-width: 768px) {
  .fun-content {
    flex-direction: column;
    align-items: center;
  }

  .text-intro-cube-culture {
    max-width: 80%;
    
  }

  .world-calendar {
    max-width: 90%;
  }

  .flags-img {
    max-width: 80px;
  }
}


/* Radio Player Section */
.radio-player {
  padding: 40px 20px;
  background-color: #e9e9e9;
  text-align: center;
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-links a {
  color: #E9C46A;
  font-size: 1.1rem;
  text-decoration: none;
}

.social-links a:hover {
  color: #2A9D8F;
  text-decoration: underline;
}
