
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #4d4d4d63;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  backdrop-filter: blur(10px); /* Applies the blur effect */
  -webkit-backdrop-filter: blur(10px);
}


.navbar-brand img {
  height: 40px;
  width: auto;
  transition: all 0.3s ease;
}

.brand-name-nav {
  font-size: 28px;
  font-weight: bold;
  color: #f9a826;
  letter-spacing: 2px;
  margin-left: 20px;
  transition: all 0.3s ease;
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: #ddd;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding: 10px 15px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
}

/* NavLink Hover Effect */
.nav-link:hover {
  color: #f9a826;
  text-shadow: 0 0 8px rgba(255, 169, 38, 0.7), 0 0 20px rgba(255, 169, 38, 0.5);
}

.nav-link:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f9a826;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover:before {
  width: 100%;
  left: 0;
}

 
@media (max-width: 768px) {
  .navbar-links {
    display: flex;
    gap: 20px;
  }
}

@media (min-width: 769px) {
  .navbar-links {
    display: flex;
    gap: 30px;
  }
}
