.recipe-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: -20px;
}

.recipe-swiper {
  width: 240px;
  height: 380px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 20px;
  color: #fff;
  height: 380px !important;
  width: 240px !important;
}

.recipe-card:nth-child(1n) {
  background-color: #ee9b00;
}

.recipe-card:nth-child(2n) {
  background-color: #0a9396;
}

.recipe-card:nth-child(3n) {
  background-color: #ae2012;
}

.recipe-card:nth-child(4n) {
  background-color: #005f73;
}

.recipe-card:nth-child(5n) {
  background-color: #ca6702;
}

.recipe-card:nth-child(6n) {
  background-color: #e9d8a6;
}

.recipe-card:nth-child(7n) {
  background-color: #94d2bd;
}

.recipe-card:nth-child(8n) {
  background-color: #001219;
}

.recipe-card:nth-child(9n) {
  background-color: #ee9b00;
}

.recipe-card:nth-child(10n) {
  background-color: #ae2012;
}

.recipe-card-image {
  width: 90%;
  height: 80%;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.recipe-card-name {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  font-size: 1.1rem;
}
